@model VeritabaniKatmani.TakimSporcu

@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-4 col-md-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title mb-3">Takım Detayı</strong>
        </div>
        <div class="card-body">
            <div class="mx-auto d-block">
                <img class="rounded-circle mx-auto d-block" src="~/Image/@Html.DisplayFor(model => model.Takimlar.Logo)" alt="Card image cap" />

                <h2 class="text-sm-center mt-2 mb-1"> @Html.DisplayFor(model => model.Takimlar.Adi)</h2>
                <div class="location text-sm-center"><i class="fa fa-sitemap"></i> @Html.DisplayFor(model => model.Takimlar.KategoriAdi)</div>
                <div class="location text-sm-center"><i class="fa fa-map-marker"></i> @Html.DisplayFor(model => model.Takimlar.Konum)</div>

            </div>
            <hr>
            <div class="card-text text-sm-center">
                @Html.ActionLink("Takımlar", "Index", "Takimlar", null, new { @class = "btn btn-primary btn-lg" })
            </div>
        </div>
    </div>
</div>




<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
          Takım Sporcuları
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"> Adı Soyadı</th>
                        <th scope="col"> Doğum Yeri</th>
                        <th scope="col">Doğum Tarihi</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">Mevki</th>
                    </tr>
                </thead>

                @foreach (var item in Model.Sporcular)
                {
                    <tbody>
                        <tr>
                            <td><img src="~/Image/@Html.DisplayFor(modelItem => item.Resim)" width="25" height="25" /></td>
                            <td>@Html.DisplayFor(modelItem => item.Adi) @Html.DisplayFor(modelItem => item.Soyadi)</td>
                            <td>@Html.DisplayFor(modelItem => item.DogumYeri)</td>
                            <td>@Html.DisplayFor(modelItem => item.DogumTarihi)</td>
                            <td>@Html.DisplayFor(modelItem => item.Telefon)</td>
                            <td>@Html.DisplayFor(modelItem => item.Mevki)</td>
                        </tr>

                    </tbody>
                }

            </table>
        </div>
    </div>
</div>