
@{
    ViewBag.Title = "TakimEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model VeritabaniKatmani.Takimlar

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Takım Ekle</h1>
            </div>
        </div>
    </div>

</div>

<div class="col-lg-6">
    <div class="card">

        <div class="card-body">
            <!-- Credit Card -->
            <div id="pay-invoice">
                <div class="card-body">

                    <hr>

                    @using (Html.BeginForm("Ekle", "Takimlar", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        <div class="form-group">
                            <label for="Adi" class="control-label mb-1">Takım Adı</label>
                            @Html.TextBoxFor(m => m.Adi, new { @id = "cc-name", @class = "form-control" })

                        </div>
                        <div class="form-group has-success">
                            <label for="Kategori" class="control-label mb-1">Kategori</label>
                            @Html.DropDownListFor(m => m.KategoriId, (List<SelectListItem>)ViewBag.dgr, new {  @id = "select", @class = "form-control" })

                        </div>
                        <div class="form-group">
                            <label for="Konum" class="control-label mb-1">Konum</label>
                            @Html.TextBoxFor(m => m.Konum, new { @id = "select", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="file" class="control-label mb-1">Logo</label>
                            <input type="file" name="file" id="file-input" class="form-control-file" />

                        </div>
                        <div class="form-group"><hr />
                            </div>

                        <div>
                            @if (@ViewBag.Basari == 1) { 
                            <div class="alert  alert-success alert-dismissible fade show" role="alert">
                                <span class="badge badge-pill badge-success">Başarılı</span> Takım Kaydedildi.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            }
                            <button type="submit" class="btn btn-success btn-lg">
                                <i class="fa fa-dot-circle-o"></i> Kaydet
                            </button>
                            @Html.ActionLink("Takımlar", "Index", "Takimlar", null, new { @class = "btn btn-primary btn-lg" })
                        </div>
                            }
                        </div>
                    </div>

        </div>
    </div> <!-- .card -->

</div>