@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VeritabaniKatmani.GenelBilgiler


<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Genel Bilgiler</h1>
            </div>
        </div>
    </div>

</div>

<div class="content mt-3">

    <div class="col-sm-12">
        <div class="alert  alert-success alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-success">Ok</span> Keyifli Günler.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>


    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-1">
            <div class="card-body pb-0">

                <h4 class="mb-lg-3">
                    <span class="count">
                        @Html.DisplayFor(model => model.Istatistikler.SporcuSayisi)
                    </span>
                </h4>
                <p class="text-light">Sporcu Sayısı</p>

                <div class="chart-wrapper px-0" style="height:70px;" height="70">
                    <canvas id="widgetChart2"></canvas>
                </div>

            </div>

        </div>
    </div>


    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-5">
            <div class="card-body pb-0">

                <h4 class="mb-lg-3">
                    <span class="count">@Html.DisplayFor(model => model.Istatistikler.TakimSayisi)</span>
                </h4>
                <p class="text-light">Takım Sayısı</p>

                <div class="chart-wrapper px-0" style="height:70px;" height="70">
                    <canvas id="widgetChart1"></canvas>
                </div>

            </div>

        </div>
    </div>



    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-3">
            <div class="card-body pb-0">

                <h4 class="mb-lg-3">
                    <span class="count">@Html.DisplayFor(model => model.Istatistikler.AtilanGol)</span>
                </h4>
                <p class="text-light">Atılan Gol Sayısı</p>

            </div>

            <div class="chart-wrapper px-0" style="height:70px;" height="70">
                <canvas id="widgetChart3"></canvas>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-4">
            <div class="card-body pb-0">

                <h4 class="mb-lg-3">
                    <span class="count">@Html.DisplayFor(model => model.Istatistikler.SarikartSayisi)</span> Sarı Kart /
                    <span class="count">@Html.DisplayFor(model => model.Istatistikler.KirmiziSarikartSayisi)</span> Kırmızı Kart
                </h4>
                <p class="text-light">Kart Sayısı</p>

                <div class="chart-wrapper px-3" style="height:70px;" height="70">
                    <canvas id="widgetChart4"></canvas>
                </div>

            </div>
        </div>
    </div>



    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                Gol Krallığı
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"></th>
                            <th scope="col">Adı Soyadı</th>
                            <th scope="col">Takımı</th>
                            <th scope="col">Gol Sayısı</th>


                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int tid = 1;
                        }
                        @foreach (var item in Model.GolKralligi)
                        {
                            <tr>
                                <td>@tid</td>
                                <td><img class="rounded-circle mx-auto d-block" src="~/Image/@Html.DisplayFor(modelItem => item.Resim)" width="50" height="50" /></td>
                                <td>@Html.DisplayFor(modelItem => item.AdiSoyadi)</td>
                                <td>@Html.DisplayFor(modelItem => item.TakimAdi)</td>
                                <td>@Html.DisplayFor(modelItem => item.GolSayisi)</td>

                            </tr>
                            tid = tid + 1;
                        }
                    </tbody>


                </table>
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                Centilmenlik Sıralaması
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Takım</th>
                            <th scope="col">Sarı Kart</th>
                            <th scope="col">Kırmızı Kart</th>


                        </tr>
                    </thead>

                    @{
                        int id = 1;
                    }
                    <tbody>


                        @foreach (var item in Model.Centilmenlik)
                        {
                            <tr>
                                <td>@id</td>
                                <td>@Html.DisplayFor(modelItem => item.TakimAdi)</td>
                                <td>@Html.DisplayFor(modelItem => item.SarikartSayisi)</td>
                                <td>@Html.DisplayFor(modelItem => item.KirmiziKartSayisi)</td>
                            </tr>

                            id = id + 1;
    }


                    </tbody>


                </table>
            </div>
        </div>
    </div>















</div>






